@media (max-width: 1200px) {
  .tohide {
    display: none !important;
  }
  .toshowmob {
    display: inline !important;
  }
  .hidden_box {
    display: block;
  }
    .accord-content { display: none; }

  .logo {
    float: right;
  }
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
  .wrapper_box {
    width: 100%;
    padding: 0;
  }
  .logo img {
    width: 220px;
  }
  .header {
    padding: 10px 0 0;
    overflow: visible;
    position: fixed;
    z-index: 20;
  }
  .to_buy {
    background: url('../img/buy_bg.png') no-repeat;
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: none;
    background-size: cover;
    position: absolute;
    top: 48px;
    left: 0;
    font-size: 20px;
    float: none;
  }
  .header__wrapper {
    width: auto;
    margin: 0;
    display: block;
  }
  .burger {
    display: block;
  }
  .nav {
    float: none;
    position: absolute;
    width: 100%;
    top: 48px;
    margin: 0;
    text-align: center;
    left: 0;
    opacity: 0;
    z-index: 3;
    transition: opacity .3s;
    display: none;
  }
  .nav a {
    display: block;
    width: 100% !important;
    color: #969696;
    font-size: 18px;
    text-transform: uppercase;
    background: #f4f4f4;
    height: 60px;
    line-height: 60px;
    margin: 0 !important;
    float: none;
    border-bottom: 1px solid #d9d9d9;
  }
  .nav.active {
    opacity: 1;
    display: block;
  }
  .block1 {
    height: 480px;
    min-height: auto;
    background: url('../img/bg1_mob.jpg') no-repeat 50% 0;
    padding: 124px 0 0;
    background-size: cover;
    border-bottom: 2px solid #cdcdcd;
  }
  .girl1 {
    height: 121px;
    width: 112px;
    background-size: 100% 100%;
    background: url('../img/girl1.png') no-repeat;
    left: 170px;
    bottom: 210px;
    background-size: cover;
  }
  .girl2 {
    height: 121px;
    width: 112px;
    background: url('../img/girl2.png') no-repeat;
    right: 160px;
    bottom: 30px;
    background-size: cover;
  }
  .sky1 {
    display: none;
    background-size: 50% 50%;
  }
  .sky_left {
    background: url('../img/obl_left_mob.png') no-repeat;
    width: 153px;
    height: 92px;
    top: auto;
    left: 10px;
    bottom: 240px;
  }
  .sky_right {
    background: url('../img/obl_right_mob.png') no-repeat;
    width: 150px;
    height: 91px;
    top: auto;
    bottom: 80px;
    right: 10px;
  }
  .block1 .wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  .btn_red {
    width: 296px;
    height: 60px;
    background: url('../img/btn1_mob.png') no-repeat;
    left: 50%;
    margin-left: -148px;
    right: auto;
    bottom: 175px;
  }
  .btn_green {
    width: 296px;
    height: 60px;
    background: url('../img/btn2_mob.png') no-repeat;
    left: 50%;
    margin-left: -148px;
    right: auto;
    bottom: 10px;
  }
  .btn_video1 {
    background: url('../img/saw1.png') no-repeat;
    width: 61px;
    height: 53px;
    right: 7px;
    bottom: 295px;
    left: auto;
  }
  .btn_video1:hover {
    background: url('../img/saw1.png') no-repeat;
  }
  .btn_video2 {
    background: url('../img/saw2.png') no-repeat;
    width: 61px;
    height: 53px;
    bottom: 120px;
    left: 15px;
  }
  .btn_video2:hover {
    background: url('../img/saw2.png') no-repeat;
  }
  .block2 {
    padding: 0;
  }
  .block2 .hidden_box {
    padding: 15px;
  }
  h3 {
    display: block;
    width: 100%;
    background: none !important;
    font-size: 20px;
    height: 58px;
    line-height: 58px;
    font-weight: bold;
    border-bottom: 2px solid #cdcdcd;
    cursor: pointer;
    margin: 0;
  }
  .block2 p.img {
    text-align: center;
  }
  .block2 p.img img {
    max-width: 100%;
  }
  .block2 p.colored {
    background: #f4f4f4;
    margin: 0 -15px 30px;
    padding: 15px;
  }
  .bacteria {
    display: none;
  }
  .bacteria_mob {
    display: inline;
  }
  .block2 .box {
    width: 100%;
    height: auto;
  }
  .block2 .table {
    margin-left: 0 0 15px;
  }
  .block2 .table .col {
    width: 100%;
    margin: 0 0 15px;
  }
  .block2 .table .col+.col {
    padding: 15px;
    margin: 0 -15px;
    width: auto;
    background: #f4f4f4;
  }
  .block2 .box .colored {
    background: none;
  }
  .block2 .box {
    background: url('../img/bord_blue_mob.png') no-repeat 50% 10px;
    width: 289px;
    height: 857px;
    margin: 0 auto;
  }
  .block2 h4 {
    font-size: 18px;
  }
  .block3 {
    padding: 0;
  }
  .green_bord {
    background: url('../img/bord_green_mob.png') no-repeat;
    width: 287px;
    height: 107px;
    padding: 5px 12px;
    margin-bottom: 10px;
  }
  .green_bord .textpart {
    padding: 15px 0 0;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
  }
  .green_bord .textpart:before {
    display: block;
    position: static;
    color: #6ba53a;
    font-size: 36px;
    margin: 0 0 10px;
  }
  .block3 h3 {
    margin: 0;
  }
  .block3 .hidden_box {
    padding: 25px 0;
  }
  .notebox1 {
    padding: 15px;
    background: none;
    margin-bottom: 40px;
  }
  .protect .pack {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 45px;
  }
  .protect .pack img {
    max-width: 100%;
  }
  .protect .graph {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .protect .graph img {
    max-width: 100%;
  }
  .block4 {
    padding: 0;
  }
  .block4 h3 {
    margin: 0;
  }
  .block4 .hidden_box {
    padding: 15px;
  }
  .notebox2 {
    background-position: 0% 0%;
    background-size: 47px 47px;
    padding: 0;
    margin-bottom: 20px;
  }
  .notebox2 .title {
    font-size: 16px;
    height: 47px;
    padding: 0 0 0 70px;
    margin-bottom: 20px;
  }
  .notebox2 .txt {
    margin: 0 -15px;
    padding: 15px;
    background-color: #f4f4f4;
    color: #747474;
    font-size: 16px;
  }
  .protect .graph p {
    margin: 0;
  }
  .block5 h3 {
    margin: 0;
  }
  .block5 .textblock {
    margin: 0 0 25px;
  }
  .block5 .hidden_box {
    padding: 15px;
  }
  .warning {
    margin: 0 -15px;
    padding: 15px;
    font-size: 16px;
    background-color: #f4f4f4;
    margin-bottom: 33px;
  }
  .warning:before {
    position: static;
    float: left;
    font-size: 60px;
    line-height: 55px;
    color: #747474;
    margin: 5px 10px -30px 0;
  }
  .box_gray {
    background: url('../img/box_gray.png') no-repeat;
    width: 304px;
    height: 435px;
    margin: 0 auto;
    position: relative;
    padding: 22px 0 0 40px;
  }
  .box_gray h5 {
    font-size: 16px;
    width: 265px;
    position: absolute;
    bottom: 20px;
    margin: 0;
  }
  .items a {
    font-size: 16px;
    width: 200px;
    padding: 0 0 0 60px;
  }
  .item1 {
    margin: 0 0 25px;
  }
  .block5 {
    padding: 0;
  }
  .red_box {
    background: url(../img/border_red_mobile.png) no-repeat;
    width: 289px;
    height: 57px;
    margin: 0 auto 15px;
  }
  .red_box h3 {
    font-size: 16px;
  }
  .afterbox p {
    padding: 15px;
  }
  .afterbox {
    margin-bottom: 15px;
  }
  .graphtable .title {
    margin-bottom: 15px;
  }
  .texttable {
    float: none;
    width: auto;
    text-align: center;
    margin-top: 15px;
  }
  .graphtable {
    float: none;
    width: auto;
  }
  .aftertable {
    padding: 0 15px;
    display: flex;
    flex-direction: column-reverse;
  }
  .block6 {
    padding: 0 0 35px;
  }
  .block7 .red_box {
    background: url(../img/border_red2_mobile.png) no-repeat;
    width: 289px;
    padding: 15px;
    height: 75px;
    margin: 0 auto 15px;
  }
  .block7 .red_box h3 {
    line-height: 25px;
    border: none;
  }
  .why {
    font-size: 18px;
    padding: 15px;
    margin: 0 0 15px;
  }
  .why_long {
    margin: 0 0 15px;
    padding: 15px;
  }
  .block7 {
    padding: 0 0 35px;
  }
  .titlemap {
    font-size: 20px;
    height: 58px;
    line-height: 58px;
    font-weight: bold;
    border-bottom: 2px solid #cdcdcd;
    margin: 0;
  }

.map {
  height: 280px;
}
  .m-tac {
    margin: 0;
  }
  .m-tac a {
    font-size: 16px;
    background: url('../img/b-antib-arr-g2.png') no-repeat 0 40%;
    padding: 12px 0 12px 35px;
    width: 140px;
    margin: 0 15px;
  }
  .m-tac a:hover {
    color: #ea4335;
  }
  .block9 {
    padding: 0;
  }
  .footer {
    padding: 30px 0 0;
  }
  .b-footer__takeda {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }
  .b-footer__text__wrapper {
    width: 100%;
    float: none;
    font-size: 16px;
    padding: 15px;
  }
  .bad {
    padding: 0 15px;
    margin: 0;
  }
  .bad img {
    max-width: 100%;
  }
  .b-footer__warning {
    margin: 0;
    padding: 10px 15px;
  }
  .b-footer__certificate {
    padding: 10px 15px;
    margin: 0;
  }
  .footnote {
    padding: 10px 15px;
    margin: 0;
    background: #f4f4f4;
  }

  .block8 .red_box {
    background: none;
    font-size: 16px;
    width: 100%;
    padding: 0;
    color:#747474;
    text-align: center;
    margin: 0;
    height: auto;
    background-color: #f4f4f4 !important
  }

  .block8 {
    padding: 0;
  }

  .block8 h3 {
    display: block;
  }

    .block8 .red_box h3 {
    display: block;
    color:#747474;
    border: none;
    height: auto;
    line-height: 1.5;
    text-align: center;
  }

  .advices .title {
    background: none;
    font-size: 16px;
    text-align: center;
    width: auto;
    line-height: 1.5;
    height: auto;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .advices .text {
    padding: 0 15px;
  }

  .advice_slider {
    background: #f4f4f4;
    padding: 20px 15px;
  }

  .bx-next,
  .bx-prev {
    top: 40px;
  }

    .bx-prev {
      background: url('../img/arrow_green.png') no-repeat ;
      width: 20px;
      height: 20px;
    }

    .bx-next {
      background: url('../img/arrow_green.png') no-repeat 100% 0;
      width: 20px;
      height: 20px;
    }

.btnPrev {
  color:#747474;
  font-size: 14px;
  padding: 0  0 0 30px;
  width: 110px;
  text-align: left;
  top: auto;
  bottom: -45px;
  right: 15px;
  background: url(../img/red_left.png) no-repeat 0 50%;
}

.btnPrev:hover {
  background:  url(../img/red_right.png) no-repeat 0 50%;
}

.btnNext,
.btnShowResult {
  color:#747474;
  font-size: 14px;
  padding: 0 30px 0 0;
  width: 110px;
  text-align: right;
  top: auto;
  bottom: -45px;
  right: 15px;
  background: url(../img/red_right.png) no-repeat 100% 50%;
}

.btnNext:hover,
.btnShowResult:hover {
  background:  url(../img/red_right.png) no-repeat 100% 50%;
}

  #main-quiz-holder {
    width: 100%;
  }


.advice_box .tit {
  font-size: 18px;
  width: 200px;
  margin: 0 auto 20px;
}

.quizz {
  background-color: #f4f4f4 !important;
  margin-bottom: 60px;
}

.question {
  color:#747474;
  padding: 0 15px;
}

.question .number {
  border: none;
  font-size: 48px;
  margin: 0 10px 5px 0;
  padding: 0;
}

.question .txt {
  padding: 0;
  width: auto;
  float: none;
}

.questionContainer ul.answers li {
  float: none;
  width: 100%;
  padding: 20px 15px 20px 65px;
  margin: 0
}

.answers_wrap {
  background: #fff;
}

.questionContainer ul.answers li:nth-child(even) {
  background: #f4f4f4;
}

.radio:not(checked) + label:before {
  left: 15px;
}
.elem1 {
    margin: 6px 10px 0 0;
}

.elem3 {
    margin: -5px 0 0;
    width: 220px;
}

.radio:not(checked) + label {
  padding: 0;
    display: flex;
    align-items: center;
}

.radio:not(checked) + label:after {
  left: 22px;
}

.questionContainer ul.answers {
  width: 100%;
}












}