.tm-modal-title {
    color: #747474;
    text-align: center;
    font-family: 'Teslic', arial;
    font-size: 1.7em;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 3%;
}

.tm-text-teslic {
    font-family: 'Teslic', arial;
    font-size: 1.50em;
    font-weight: 100;
}

.tm-no-padding {
    padding: 0 !important;
}

.tm-div-border-right {
    border-right: 1px solid #dfdfdf;
}

.tm-no-left-no-right {
    padding-right: 0;
    padding-left: 0;
}

.tm-red-color {
    color:#d53915;
}

.tm-green-color {
    color: #6ba53a;
}

.tm-red-text {
    padding-right: 0;
    padding-left: 0;
    line-height: 1.2;
    padding-top: 50px;

}
.tm-btn-close {
    position: absolute;
    top: -12%;
    left: 103%;
    color: white;
    font-size: 1.57em;
    cursor: pointer;
}

.tm-modal-left-block {
    padding-bottom: 17%;
}

.tm-modal-right-block {
    padding-bottom: 27%;
}
/***************************************************************************/



.tm-my-modal {
    position: relative;
}

.modal-second-slide {
    position: absolute;
    left: 0;
    top:0;
    visibility: hidden;
}
/*******/

.modal {
    text-align: center;
}
.tm-graphic-modal-dialog {
    width: 50%;
}


.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


.tm-middle-title{
    color: #747474;
    text-align: center;
    font-family: 'Teslic', arial;
    font-size: 1.6em;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}




@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media  (max-width: 1000px ) {

    .tm-graphic-modal-dialog {
        width: 76%;
    }

}