/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
td, td img {
    vertical-align: middle;
}
input, select, button, textarea {
    margin: 0;
    font-size: 100%;
}

input[type="checkbox"] {
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

/* --------------- /reset.css --------------- */

html {
    overflow-y: scroll;
}
html, body {
    height: 100%;
}
body {
    background: #fff;
    color: #444853;
    text-align: left;
    font-size: 16px;
    min-width: 320px;
    background: url('../img/bg.png') repeat;
    font-family: 'Calibri', sans-serif;
}
input, select, button, textarea {
    font-family: 'Calibri', sans-serif;
}
label, input[type="button"], input[type="submit"], button {
    cursor: pointer;
}

ul{
    list-style: none;
}

*, *:after, *:before {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color:#444853;
}

/* --------------- /reset.css --------------- */
@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri.otf') format('opentype'), url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teslic';
  src: url('../fonts/Teslic.eot?#iefix') format('embedded-opentype'), url('../fonts/Teslic.otf') format('opentype'), url('../fonts/Teslic.woff') format('woff'), url('../fonts/Teslic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe';
  src: url("../fonts/Segoe.ttf");
  font-weight: normal;
  font-style: normal;
}

.page {
  overflow: hidden;
}

.header {
  overflow: hidden;
  padding: 30px 0 10px;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 10px 20px -4px rgba(0,0,0,.4);
}

.wrapper {
  width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.logo {
  float: left;
}

.tohide {
  display: inline !important;
}
.toshowmob {
  display: none !important;
}

.nav {
  float: left;
  width: 650px;
  margin: 15px 0 0;
  font-family: 'Calibri';
  font-weight: bold;
  text-transform: uppercase;
}

.nav a {
  float: left;
  font-size: 14px;
  color:#969696;
  margin-left: 15px;
  width: 98px;
}

.nav a:last-child {
  width: 110px;
  margin-left: -25px;
}

.to_buy {
  float: right;
  width: 221px;
  height: 66px;
  display: block;
    font-family: 'Teslic', arial;
    font-size: 0;
    color:#fff;
    text-align: center;
  background: url('../img/where_buy.png') no-repeat 50% 0;
}

.header__wrapper {
  display: inline-block;
  width: 100%;
  margin-left: 30px;
}

.block1 {
  display: block;
  position: relative;
  min-height: 960px;
  height: 100vh;
  background: url('../img/bg1.jpg') no-repeat 50% 0;
  background-size: cover;
  padding: 113px 0 0;
}

.girl1 {
  position: absolute;
  height: 508px;
  width: 349px;
  background: url('../img/girl1.png') no-repeat;
  left: 195px;
  bottom: 37px;
}

.girl2 {
  position: absolute;
  height: 378px;
  width: 367px;
  background: url('../img/girl2.png') no-repeat;
  right: 190px;
  bottom: 110px;
}

.sky1 {
  position: absolute;
  width: 631px;
  height: 312px;
  background: url('../img/obl1.png') no-repeat;
  left: 50%;
  margin-left: -315px;
  top: 5px;
  display: block;
}

.sky_left {
  position: absolute;
  width: 390px;
  height: 312px;
  background: url('../img/obl_left.png') no-repeat;
  left: -90px;
  top: 90px;
  display: block;
}

.sky_right {
  position: absolute;
  width: 432px;
  height: 314px;
  background: url('../img/obl_right.png') no-repeat;
  right: -145px;
  top: 140px;
  display: block;
}

.btn_red {
  position: absolute;
  width: 494px;
  height: 136px;
  background: url('../img/btn1.png') no-repeat;
  left: 100px;
  bottom: 0;
  display: block;
}

.btn_green {
  position: absolute;
  width: 494px;
  height: 136px;
  background: url('../img/btn2.png') no-repeat;
  right: 90px;
  bottom: 0;
  display: block;
}

.btn_video {
  display: block;
  position: absolute;
  width: 145px;
  height: 179px;
  background: url('../img/watch-video.png') no-repeat;
}

.btn_video:hover {
  background: url('../img/watch-video-hover.png') no-repeat;
}

.btn_video1 {
  left: 54px;
  bottom: 222px;
}

.btn_video2 {
  right: 50px;
  bottom: 222px;
}

.wrapper_box {
  background: #fff;
  padding: 0 115px;
  width: 1200px;
  margin: 0 auto;
}

.block2 {
  padding: 40px 0;
}

h3 {
  font-size: 48px;
  font-weight: normal;
  font-family: 'Calibri';
  font-weight: bold;
  text-align: center;
  margin: 0 0 45px;
}

.block2 h3 {
  color:#85a9c0;
  background: url('../img/stripes1.png') no-repeat 60% 50%;
}

.block2 .text p {
  color:#747474;
  font-family: 'Calibri';
  font-size: 18px;
}

.block2 .text p span {
    font-family: 'Teslic', arial;
  color:#367546;
}

.block2 .text p strong {
  font-family: 'Teslic', arial;
  font-weight: normal;
}

.block2 .text p {
  margin: 0 0 15px;
}

.block2 p.colored {
  color:#85a9c0;
  font-family: 'Teslic', arial;
}

.block2 .text p.img {
  text-align: center;
}

.block2 h4 {
  color:#85a9c0;
  font-size: 22px;
  font-weight: normal;
  font-family: 'Segoe';
  text-align: center;
}

.block2 .box {
  background: url('../img/bord_blue.png') no-repeat 50% 20px;
  width: 973px;
  height: 308px;
}

.block2 .table {
  color: #747474;
  font-size: 18px;
  font-family: 'Calibri';
  margin: 0 0 10px;
}

.block2 .table .col {
  padding: 0 30px;
  line-height: 21px;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.block2 .table .col span {
  color:#367546;
  font-family: 'Teslic', arial;
}

.block2 .box .colored {
  padding: 0 30px;
}

.bacteria_mob {
  display: none;
}

.block3 {
  padding: 35px 0 170px;
}

.block3 h3 {
  color:#6ba53a;
  background: url('../img/stripes2.png') no-repeat 60% 50%;
  margin: 0 0 95px;
}

.green_bord {
  background: url('../img/bord_green.png') no-repeat 50% 0;
  width: 971px;
  height: 152px;
  padding: 30px 35px;
  margin: 0 auto 55px;
}

.green_bord .textpart {
  padding: 0 0 0 200px;
  color:#747474;
  font-size: 22px;
  position: relative;
  font-family: 'Teslic', arial;
}

.green_bord .textpart:before {
  position: absolute;
  left: 0;
  top:-10px;
  content: '80%';
  color:#6ba53a;
  font-family: 'Teslic', arial;
  font-size: 90px;
}

.notebox1 {
  color:#747474;
  font-size: 18px;
  padding: 0 0 0 80px;
  margin: 0 0 60px;
  background: url('../img/notebox1.png') no-repeat;
}

.notebox1 span {
  color:#367546;
  font-family: 'Teslic', arial;
}

.protect {
  overflow: hidden;
}

.protect .pack {
  float: left;
}

.protect .graph {
  float: right;
}

.protect .graph img {
  display: block;
  margin: 0 0 5px;
}

.protect .graph p {
  text-align: center;
}

.protect .graph p a {
  color:#ea4335;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.block4 {
  padding: 0 0 130px;
}

.block4 h3 {
  color:#ea4335;
  background: url('../img/stripes3.png') no-repeat 60% 50%;
  margin: 0 0 95px;
}

.notebox2 {
  color:#747474;
  font-size: 18px;
  padding: 0 0 0 80px;
  font-family: 'Teslic', arial;
  margin: 0 0 60px;
  background: url('../img/notebox2.png') no-repeat 0 100%;
}

.notebox2 .title {
  color:#367546;
  font-size: 22px;
  font-family: 'Teslic', arial;
  margin: 0 0 15px;
}

.block4 p {
  color:#747474;
  font-size: 18px;
  margin: 0 0 15px;
  letter-spacing: 1px;
}

.block4 p span {
  color:#367546;
  font-family: 'Teslic', arial;
}

.block4 p strong {
  color:#ea4335;
  font-family: 'Teslic', arial;
}

.block4 .protect {
  margin: 0 0 55px;
}

.block5 {
  padding: 0;
}

.block5 h3 {
  color:#ea4335;
  background: url('../img/stripes4.png') no-repeat 60% 50%;
  margin: 0 0 54px;
}

.block5 .textblock {
  color:#747474;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 50px;
}

.red {
  font-family: 'Teslic', arial;
  color:#ea4335;
}

.green {
  font-family: 'Teslic', arial;
  color:#367546;
}

.block5 .textblock span,
.warning span {
  font-family: 'Teslic', arial;
}

.warning {
  padding: 0 0 0 30px;
  position: relative;
  color:#747474;
  font-family: 'Teslic', arial;
  font-size: 18px;
  margin: 0 0 70px;
  letter-spacing: 1px;
}

.warning:before {
      content: '!';
    position: absolute;
    font-size: 96px;
    color: #747474;
    left: -5px;
    top: -20px;
}

.box_gray {
  background: url('../img/b-antib-result.png') no-repeat;
  width: 1000px;
  height: 486px;
  margin: 0 auto;
  padding: 30px 70px 20px;
}

.box_gray h5 {
  font-family: 'Teslic', arial;
  color:#747474;
  font-size: 30px;
  width: 420px;
  margin: 0 0 80px;
}

.items a{
  color:#747474;
  font-size: 30px;
  font-family: 'Teslic', arial;
  padding: 0 0 0 67px;
  position: relative;
  display: block;
}

.items a:before {
  background: url('../img/b-antib-arr-g.png') no-repeat;
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left:0;
  top:0;
}

.items a:hover {
  text-shadow: 1px 1px 1px #000;
}

.item1 {
  margin: 0 0 70px;
}

.red_box {
  background: url('../img/border_red.png') no-repeat;
  width: 971px;
  height: 92px;
  line-height: 92px;
  margin: 0 0 45px;
}

.afterbox {
  margin: 0 0 50px;
}

.red_box h3 {
  font-family: 'Teslic', arial;
  color:#747474;
  font-size: 30px;
  background: none;
}

.afterbox p {
  color:#747474;
  font-size: 18px;
}

.block6  {
  padding: 135px 0 150px;
}

.block6 .warning {
  margin: 0 0 20px;
}

.block6 .warning:before {
  font-size: 76px;
  top: -17px;
}

.aftertable {
  overflow: hidden;
}

.texttable {
  float: left;
  width: 250px;
  color:#747474;
  font-size: 18px;
}

.graphtable {
  float: right;
  width: 670px;
  text-align: center;
}

.graphtable .title {
  font-family: 'Teslic', arial;
  color:#747474;
  font-size: 18px;
  margin:  0 0 5px;
}

.why {
  font-family: 'Teslic', arial;
  color:#747474;
  font-size: 30px;
  margin: 0 0 70px;
}

.why_long {
  font-size: 18px;
  color:#747474;
  margin: 0 0 70px;
}

.block7 {
  padding:  0 0 215px;
}

.block8 {
  padding:  0 0 80px;
}

.block8 h3 {
  color:#ea4335;
  display: none;
}

.block8 .red_box h3 {
  display: block;
    padding: 15px 30px;
    line-height: 36px;
    text-align: left;
}

  .block8 .red_box {
    display: block;
    margin-bottom: 45px;
  }

.advices .title {
background: url('../img/green_bord2.png') no-repeat;
font-family: 'Teslic', arial;
color:#6ba53a;
width: 971px;
height: 90px;
line-height: 36px;
margin: 0 auto;
font-size: 30px;
padding: 15px 30px;
margin: 0 0 50px;
}

.advices .text {
  color:#747474;
  font-size: 18px;
  margin: 0 0 25px;
}

.advice_slider {
background: url('../img/green_slider.png') no-repeat 50% 0;
  font-size: 16px;
  min-height: 254px !important;
  padding: 30px 100px 40px;
font-family: 'Teslic', arial;
  width: 100%;
  background-size: cover;
  position: relative;
}

.bx-prev,
.btnPrev {
  position: absolute;
background: url('../img/arrows.png') no-repeat;
width: 40px;
height: 40px;
font-size: 0;
display: block;
cursor: pointer;
left: 30px;
top: 50%;
margin-top: -20px;
}

.bx-prev:hover,
.btnPrev:hover {
  background-position: 0 100%;
}

.bx-next,
.btnNext,
.btnShowResult {
  position: absolute;
background: url('../img/arrows.png') no-repeat 100% 0;
width: 40px;
height: 40px;
font-size: 0;
display: block;
right: 30px;
top: 50%;
cursor: pointer;
margin-top: -20px;
}

.bx-next:hover,
.btnNext:hover,
.btnShowResult:hover {
  background-position: 100% 100%;
}

.advice_box .tit {
color:#6ba53a;
  font-size: 30px;
}

.advice_slider p {
  font-size: 16px;
}

.block9 {
  padding:  0 0 180px;
}

.m-tac {
  overflow: hidden;
  margin:  0 0 30px;
}

.titlemap {
  color:#747474;
  font-size: 48px;
  margin: 0 0 -60px;
  text-align: center;
  font-weight: bold;
  border: none;
}

.titlemap h3 {
  margin: 0;
}

.map {
  height: 670px;
}

.m-tac a {
  font-size: 0;
  font-family: 'Teslic', arial;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.map {
  margin: 0 -115px;
}

.footer {
  letter-spacing: 1px;
  color:#747474;
  font-size: 18px;
  padding: 0 0 100px;
}

.b-footer__text {
  overflow: hidden;
}

.b-footer__text__wrapper {
  float: left;
  width: 640px;
}

.b-footer__warning {
  margin: 0 0 20px;
}

.b-footer__takeda {
  float: right;
}

.b-footer__certificate {
  margin: 0 0 20px;
}

.footnote {
  font-size: 14px;
}

.bad {
  text-align: center;
  margin: 0 0 20px;
}

.burger {
  display: none;
  background: url('../img/burger.png') no-repeat;
  width: 40px;
  height: 30px;
  float: left;
  cursor: pointer;
    margin: 5px 27px 0 0;
}


.single {
  color: #454b4e;
    font-size: 14px;
    padding: 150px 115px 100px;
}

.single p,
.single div {
  margin-bottom: 15px;
}

.single_title {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 25px;
  margin-bottom: 24px;
  font-family: 'Calibri', 'circe';
  font-weight: 700;
      color: #3e7e00;
  text-transform: uppercase;
}

.quizz {
  margin-bottom: 40px;
}

.resultRow {
  width: 90%;
}

.correct, .wrong {
  height: auto;
}



/****************************************************************************/

