#main-quiz-holder {
	margin: 0 auto;
	width: 970px;
	 position: relative;
}

#main-quiz-holder a {
	text-decoration: none;
}

#results-container, #intro-container {
	width: 500px;
	text-align: center;
}

.questionContainer {
	width: 100%;
	 min-height: 400px;
	 overflow: auto;
	 margin: auto;
}

.questionContainer .question, h2.qTitle {
    margin: 10px 0 20px 0;
	 font-size: 26px;
	 font-weight: normal;
}

h2.qTitle {
	font-size: 32px;
	margin-top: 30px;
}

.questionContainer ul.answers {
    padding: 5px;
	 list-style: none;
	 width: 800px;
	 margin: 0 auto;
	 overflow: hidden;
}

.questionContainer ul.answers li {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	padding: 5px 50px;
	margin: 12px 0;
  font-family: 'Calibri', 'circe';
	color: #747474;
	position: relative;
}

/*.questionContainer ul.answers li.selected {
	background: #6fb2e5;
  box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
}*/

.questionContainer .prev, .questionContainer .next {
	height: 19px; cursor: pointer; padding: 5px 10px;
   font-size: 16px;
   padding: 5px 10px;
  color: #4c4c4c;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  background: #6fb2e5;
  box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
}

.questionContainer .next  {
  background: #77d125;
  box-shadow: 0 1px 5px #3caa00, inset 0 10px 20px #c9ffb6;
   -o-box-shadow: 0 1px 5px #3caa00, inset 0 10px 20px #c9ffb6;
   -webkit-box-shadow: 0 1px 5px #3caa00, inset 0 10px 20px #c9ffb6;
   -moz-box-shadow: 0 1px 5px #3caa00, inset 0 10px 20px #c9ffb6;
}


#progressKeeper {
    width: 553px;
    margin: 0px 12px;
	 box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 border-radius: 2px;
	 border:1px solid #dedede;
	 position: absolute;
	 bottom: 10px;
	 left: 10px;
}

 #progress {
    width: 0;
	 height: 20px;
  color: #4c4c4c;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d4d4d4));
  background: -webkit-linear-gradient(#f6f6f6, #d4d4d4);
  background-image: -moz-linear-gradient(top, #f6f6f6, #d4d4d4);
  background-image: -moz-gradient(top, #f6f6f6, #d4d4d4);
 }

#resultKeeper {
    margin: 10px;
	 text-align: center;
	 overflow: auto;
}

#notice {
	position: absolute;
	bottom: 40px;
	right: 20px;
	font-size: 150%;
	color:red;
}

.questionContainer .prev { float: left;}
.questionContainer .next, .questionContainer.btnShowResult { float: right; }
.questionContainer .clear { clear: both; }
.hide { display: none; }


.btnStart {
	display: block;
	margin: 40px auto 0 auto;
}

.btnContainer {
	margin: 20px 0 30px 0;
	padding: 5px;
	position: relative;
}

.resultRow {
	width: 110px;
	margin: 10px 25px;
	float: left;
}

.correct, .wrong {
	height: 19px; cursor: pointer; padding: 5px 10px;
   font-size: 16px;
   padding: 5px 15px;
  color: #4c4c4c;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);

}

.correct {
  background: #b2d840;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2d840), to(#90b61e));
  background: -webkit-linear-gradient(#b2d840, #90b61e);
  background-image: -moz-linear-gradient(top, #b2d840, #90b61e);
  background-image: -moz-gradient(top, #b2d840, #90b61e);
  border: 1px solid #5d8300;
}

.wrong {
	background: #e84545;
  background: -webkit-gradient(linear, left top, left bottom, from(#e84545), to(#c62323));
  background: -webkit-linear-gradient(#e84545, #c62323);
  background-image: -moz-linear-gradient(top, #e84545, #c62323);
  background-image: -moz-gradient(top, #e84545, #c62323);
  border: 1px solid #930000;
  color: #F1F1F1;
}

.correct span {
	padding: 0 20px;
	background: url(img/confirm.png) left no-repeat;
}

.wrong span {
	padding: 0 20px;
	background: url(img/delete.png) left no-repeat;
}

#answer-key {
	text-align: center;
	width: 300px;
	padding: 15px;
	margin: 0 auto;
	 clear: both;
	 font-size: 16px;
}

.question {
	overflow: hidden;
	line-height: 1.3em;
}

.question .number {
	color:#747474;
  font-family: 'Calibri', 'circe';
	font-size: 72px;
	line-height: 1;
	float: left;
	padding: 0 25px 0 0;
	border-right: 4px solid #747474;
}

.question .txt {
	font-size: 18px;
	float: left;
	line-height: 1.5;
	width: 840px;
	padding: 0 0 0 45px;
  font-family: 'Teslic', arial;
}

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
      top: 12px;
    left: 0px;
  width: 40px;
  height: 40px;
  border: 2px solid #ea4335;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
      top: -2px;
    left: 7px;
  width: 49px;
  height: 48px;
  opacity: 0;
  transition: all .2s;
	background: url(../img/radio_active.png) left no-repeat;
}
.radio:checked + label:after {
  opacity: 1;
}

.elem1 {
	margin: 20px 10px 0 0;
}

.elem2 {
	margin: 10px 25px 0 0;
}

.elem3 {
	margin: -10px 0 0;
	width: 150px;
}

.good90 {
	color: #6ba53a;
    font-family: 'Teslic', arial;
}

.good50 {
	color: #f2c433;
    font-family: 'Teslic', arial;
}

.good20 {
	color: #ec4330;
    font-family: 'Teslic', arial;
}

#results-container {
	width: 100%;
}

#resultKeeper {
	text-align: left;
}

.res90 {
	padding: 30px;
	margin-top: 25px;
	border: 2px solid #6ba53a;
}

.res50 {
	margin-top: 25px;
	padding: 30px;
	border: 2px solid #f2c433;
}

.res20 {
	margin-top: 25px;
	padding: 30px;
	border: 2px solid #ec4330;
}

.youres {
	color: #747474;
    font-size: 18px;
}

